@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root{
    --FonteDefault: 'Oswald', sans-serif;
    --cor1: #035E7B;
    --cor2: #f58a07;
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--FonteDefault);

}
body, html{
    width: 100%;
    min-height: 100vh;
    background-color: black;
}
a{
    text-decoration: none;
}
header{
    background-color: var(--cor1);
    color: white;
    text-align: center;
}
header h1{
    font-size: 3em;
    padding: 5px;
}
.hudmenu{
    background-color: var(--cor1);
    border-top: 1px solid rgba(255, 255, 255, 0.425);
    text-align: right;
    font-size: 1.1em;
}
.hudmenu ul {
    padding-right: 40px;
}
.hudmenu li {
    display: inline-block;
    padding: 5px;
    color: white;
    height: 100%;
}
.hudmenu a {
    color: white;
    text-decoration: none;
    transition: all 111ms;
}
.hudmenu a:hover{
    border-bottom: 3px solid white;
}
span{
    border: 1px solid rgba(255, 255, 255, 0.377);    
}
.titulo{
    font-size: 3em;
    text-align: center;
}
main{
    background-color: white;
    padding: 10px;
}
main a {
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.801);
}
main a:hover{
    text-decoration: underline;
}
section{
    padding-bottom: 20px;
}
#video{
    height: 300px;
    max-width: 500px;
    margin: 20px auto;
    
}
#video iframe{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.541);
}
article{
    min-width: 375px;
    max-width: 800px;
    margin: auto;
}
article p {
    text-align: justify;
    text-indent: 10px;
    line-height: 30px;
}
#fazerParte{
    padding-top: 20px;
    border-top: 1px solid var(--cor1);
}
#entrar{
    text-align: center;
    font-size: 2em;
}
#fazerParte p {
    font-size: 1.1em;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.164);
}
#confirmBox{
    padding: 10px;
    width: 200px;
    margin: 20px auto;
    position: relative;
}
#confirmBox a{
    border-radius: 15px;
    background-color: var(--cor2);
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    padding: 8px;
    transition: all 111ms;
}
#confirmBox a:hover{
    border: 2px solid var(--cor2);
    background-color: white;
    color: black;
    text-shadow: 1px 1px 1px 0px rgb(0, 0, 0);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.397);
}
#help{
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, 0.452);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    cursor: pointer;
}
#help:hover{
    opacity: .5;
}
#alert{
    position: absolute;
    top: -150px;
    left: -300px;
    height: 160px;
    width: 300px;
    background-color: whitesmoke;
    border: 3px solid rgba(0, 0, 0, 0.308);
    padding: 3px;
    border-radius: 7px;
    border-bottom-right-radius: 0px;
    display: none;
}
footer{
    min-height: 20vh;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 10px;
    padding-bottom: 20px;
}
footer a {
    color: white;
}
footer label:hover {
    text-decoration: underline;
}
footer label{
    margin-left: 5px;
    cursor: pointer;
}
.icone{
    height: 20px;
    width: 20px;
}
footer section{
    width: 50%;
}

@media (max-width: 520px){
    footer {
        flex-direction: column;
    }
    .titulo{
        font-size: 2em;
    }
    body, html{
        width: 100vw;
    }
    article p {
        padding: 5px;
    }
}
@media (max-width: 840px) {
    #alert{
        top: -190px;
        left: -50px;
        border-bottom-right-radius: 7px;
    }
}